@import "../../../styles.sass"

*
    margin: 0
    padding: 0

ul 
    display: flex
    align-items: center
    justify-content: space-around
    list-style: none
    background-color: $base-color
    height: 70px
    color: white
    font-family: Arial
    border-bottom: $second-color 3px solid

    li
        cursor: pointer
        font-weight: bold
            
