<main>
    <header>
        <h4>Bem Vindo <span class="nameUser">Cicero</span>!</h4>
        <div>
            <p>alterar dados</p>
            <p (click)="logout()">sair</p>
        </div>
    </header>
    <section>
        <h2 class="title">Dados Usuario</h2>
        <div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
        <div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
    </section>
    <div class="open-shop">
        <h2 class="title">Pedidos Abertos</h2>
        <div>
            <p>Ainda não a pedidos</p>
        </div>
    </div>
</main>