@import "../../../styles.sass"

main
    width: 100%
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    background-color: #f1f1f1
    div
        width: 500px
        height: 400px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border-radius: 20px
        background-color: #FFF
        -webkit-box-shadow: 0px 1px 2px 1px $light-grey
        -moz-box-shadow: 0px 1px 2px 1px $light-grey
        box-shadow: 0px 1px 2px 1px $light-grey

        form
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

        h2
            margin-bottom: 20px

        button
            margin-top: 10px
            margin-bottom: 0
        a
            color: $base-color
            font-weight: bold
            text-decoration: none
            margin-top: 10px
            font-size: 12px
            cursor: pointer
            &:last-child
                margin-top: 30px
            
            &:hover
                text-decoration: underline
